@page "/home"

<PageTitle>Home</PageTitle>

<MudStack>
    <MudGrid>
        <MudItem xs="4" Style="display: flex; flex-direction: column; justify-content: center; align-content: center;">
            <MudText Typo="Typo.h3" Align="Align.Center" Style="padding-bottom: 1rem;">
                Life of Barty
            </MudText>
            <div style="margin-left: 1rem; margin-right: 1rem;">
                <MudText Typo="Typo.body1" Align="Align.Center">
                    Documenting the life and adventures of Barty the service dog
                </MudText>
            </div>
        </MudItem>
        <MudItem xs="8" Style="display: flex; flex-direction: row; justify-content: center;">
            <MudImage Src="/img/web/landscape_barty.jpg" Style="border-radius: 1rem; max-height: 20rem; max-width: 100%; scale: 90%;" Fluid="true" ObjectFit="ObjectFit.Contain"/>
        </MudItem>
    </MudGrid>
    <MudDivider />
    <MudText Typo="Typo.h5">
        Recent Blog Posts
    </MudText>
    <MudGrid>
        <MudItem xs="12">

        </MudItem>
    </MudGrid>
</MudStack>

