@inherits LayoutComponentBase

<MudThemeProvider Theme="customTheme"/>
<MudPopoverProvider />
<MudDialogProvider />
<MudSnackbarProvider />

<MudLayout>
    <MudAppBar>
        <MudIconButton Icon="@Icons.Material.Filled.Pets" Color="Color.Inherit" Edge="Edge.Start" OnClick="@((e) => DrawerToggle())" />
        <div style="margin-left: auto; margin-right: 0;">
            <LoginOrOut />
        </div>
    </MudAppBar>
    <MudDrawer @bind-Open="@_drawerOpen">
        <NavMenu/>
    </MudDrawer>
    <MudMainContent>
        <MudGrid Spacing="0" Class="layout_grid">
            <MudItem xs="0" md="1" xl="2"/>
            <MudItem xs="12" md="10" xl="8">
                <div class="layout_body_card">
                    @Body
                </div>
            </MudItem>
            <MudItem xs="2" md="1" xl="2" />
        </MudGrid>
    </MudMainContent>
</MudLayout>

@code {
    bool _drawerOpen = true;

    void DrawerToggle()
    {
        _drawerOpen = !_drawerOpen;
    }

    MudTheme customTheme = new MudTheme()
    {
        PaletteLight = new PaletteLight() 
        {
            AppbarBackground = "#4f2378",
            DrawerBackground = "#4f2378",
            Background = "#563575",
            TextPrimary = "#fefcff",
            TextSecondary = "#fefcff",
            DrawerText = "#fefcff",
            Info = "#c364fa",
            Primary = "#c364fa",
            DrawerIcon = "#c364fa",
            Dark = "#2d1345",
            Tertiary = "#fefcff"
        }
    };

    //<img src="/img/web/dog-paw.svg"/>
}